

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-align:center">
<div class="row ">
    <div class="col-lg-12 ">
        <h1 class="yr mt-4 mb-5 " style="padding-left: 450px;">Your Shopping Cart</h1>
        <table class="tbl table w-100">
            <thead class="thead-light">
                <tr class="trr bg-light">
                    <th scope="col" style="width: 350px;">
                        <h4>PRODUCT</h4>
                    </th>
                    <th scope="col">
                        <h4>QUANTITY</h4>
                    </th>
                    <th scope="col">
                        <h4>PRICE</h4>
                    </th>
                    <th scope="col">
                        <h4>CANCEL</h4>
                    </th>
                    <th scope="col">
                        <h4>BUY NOW</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in cart %}
                    <th scope="row">
                        <img class="crtimg me-3 shadow" style="width: 65px;" src="{{i.product.image.url}}" alt="">{{i.product}}
                    </th>
                    <td>
                        <a class="btn btn-primary" href="{% url 'cartapp:removecart' i.product.id %}">-</a>
                        <input class="mt-3 ms-3" value="{{i.quantity}}">
                        <a class="btn btn-primary" href="{% url 'cartapp:addcart' i.product.id %}">+</a>
                    </td>
                    <td>
                        <h5 class="mt-4 shadow">{{i.product.price}}</h5>
                    </td>
                    <td>
                        <a href="{% url 'cartapp:fullremove' i.product.id %}" class="btn btn-danger mt-4 shadow">Cancel</a>
                    </td>
                    <td><a class="btn btn-success mt-4 shadow">Buy Now</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<a href="{% url 'shop:home' %}" class="purch btn btn-primary pt-2 pb-2 ps-2 pe-2 mb-3">
    <h5>continue purchase</h5>
</a>
</div>
{% endblock %}

