
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="rw row mt-4 mb-5">
  
      <div class="col-lg-8 btn-light ">
          <h5 class="fr">From Saved Adderesses</h5>
  
                      {% for i in cart %}
                      <div class="rrw row border w-100 shadow">
                        <div class="col-lg-2 col-md-3 col-sm-12">
                          <img class="crtimg mt-2 shadow" style="width: 65px;" src="{{i.product.image.url}}" alt="">{{i.product}}

                        
                      
                      </h4>
                    </div>
                    <div class="col-lg-7 border mt-2 mb-2">
                      <h5 class="pro mt-3">{{i.product}}</h5>
                      <h6 class="des">{{i.product.sesc}}</h6>
                      <h4 class="pr">${{i.product.price}}</h4>
                    </div>
                    <div class="col-lg-3">
                      <a href="{% url 'cartapp:fullremove' i.product.id %}" class="btn btn-danger mt-4 shadow">Remove</a>
                    </div>
                  
                         
                      
                          <a class="btn btn-primary" href="{% url 'cartapp:removecart' i.product.id %}">-</a>
                          <input class="mt-3 ms-3" value="{{i.quantity}}">
                          <a class="btn btn-primary" href="{% url 'cartapp:addcart' i.product.id %}">+</a>
                      <a class="btn btn-success mt-4 shadow">Buy Now</a></td>

                    </div>
                  {% endfor %}
                  {% if cart %}
                  <a href="{% url 'shop:home' %}" class="purch btn btn-primary pt-2 pb-2 ps-2 pe-2 mb-3">
                    <h5>continue purchase</h5>
                  </a>
    </div>
    <div class="to col-lg-4 fixed-end border">
      <div class="pp row border">
        <h3>PRICE DETAILS</h3>
      </div>
      <div class="cc col-lg-12">
        <h4 class="ds mt-3">Discount<span class="dss mt-3">-$1020</span></h4>
        <h4 class="TOT mt-5">Toatal Amount<span class="tt">${{}total}</span></h4><hr>
        <h5 class="sav">you will save $1,020 on this order</h5>
      </div>
      <a href="{ url 'cartapp:placeorder' %}" class="plac btn btn-warning pt-2 mb-3"><h4>Place Order</h4></a>
      {% else %}
      <a href="{ url 'shop:home' %}"><h5 class="prpr">Please purchase your products</h5></a>
      {% endif %}
    </div>
  
  </div>
{% endblock %}

