.des{
  text-align: center;
  margin-left: 84px;
  margin-right: 100px;
  font-style: oblique;
}
.hed{
    text-align: center;
    font-weight: 900;
    font-style:oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.card-group{
  width: 97vw;
  margin-left:86px;
}
.card-group img{
  width: 260px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
  

.card-group a{
  text-decoration: none;
  color: black;
}
.col2{
  margin-top: 220px;
}
.col1{
  margin-top: 40px;
}
.cd{
  height: 58vh;
  width: 22vw;
  margin-top: 130px;
}
.cd img{
  height: 58vh;
  width: 20vw;
}
.conta{
  height: 98vh
}

.abcd{
  margin-left: 800px;
  
}
body{
  overflow-x: hidden;
}
.hed2{
  text-align: center;
  font-weight: 900;
  padding-top: 50px;
}
  
  
